<p>
	Don't ask me how or why I came up with the name for this website. 
	
	Hopefully it suggests that the site might be about learning and self advancement, which luckily it is!
</p>


<p>
	I hope you find something of interest in these pages. 
	
	If you are in to perpetually unfinished Indie games please check out some of mine!
	
	If you want to learn more about game development then check out my tutorials.
	
	Enjoy your visit. 
	
</p>

<article>
	<h2>Latest News</h2>
	<p>
	
	<%= link_to "Isle Survive",islesurvive_path %>
	
	approaching release date!
		
	</p>
	
	<p>
		
	Check out my new game, coming to the android market place soon.
		
	</p>
</article>
