<p>
Get it here: <%= link_to "Isle Survive on Android Market",'https://market.android.com/details?id=com.platoevolved.islesurvivefree'%>	
</p>
<p>
Isle Survive is a game all about surviving in a desolate land with just a wooden axe as your friend.

</p>
<p>
	
Chop down trees, mine for precious ores, craft items and build structures. The first version of the game
will be mainly about crafting and building.
	
</p>
<p>
	
Expect later versions to introduce various perils... you have been warned!  
	
</p>

<%= image_tag("islesurvive/isle_survive.png",:alt => "Isle Survive",:class => "round")%>

