// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 700px;
}

body {
  background: #595959;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: white;
}

section {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}
img {
  max-width: 100%;
}



footer {
  text-align: center;
}
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
