<footer>
	<nav class="menu">
		<ul>
			<li><%= link_to "Twitter",'#'%></li>
			<li><%= link_to "Facebook",'#'%></li>
			<li><%= link_to "Youtube",'#'%></li>
			<li><%= link_to "Email",'#'%></li>
		</ul>
	</nav>
</footer>
